.content {
  background-color: #FFF;
}

.login-form__inner {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.login-form__form {
  padding: 64px 96px;
  width: 40vw;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  /* パディング込みで幅を計算 */
}

@media screen and (max-width: 1200px) {
  .login-form__form {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .login-form__form {
    width: 80vw;
    padding: 40px;
    /* パディングを調整 */
  }

  .login-form__inner {
    flex-direction: column;
    margin-top: 24px;
  }
}

@media screen and (max-width: 480px) {
  .login-form__form {
    width: 90vw;
    padding: 24px;
    /* より狭い画面でのパディング調整 */
  }

  .login-form__btn {
    width: 100%;
  }
}

.login-form__group {
  margin-top: 32px;
}

.login-form__group:first-of-type {
  margin-top: 0;
}

.login-form__label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form__input {
  display: block;
  padding: 8px 12px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #FFFFFF;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: serif;
}

.login-form__error-message {
  color: #FF9494;
}

.login-form__btn {
  margin: 60px auto 0;
}

.login-form__link {
  margin: 10px auto;
  text-align: center;
}