.content {
  background-color: #FFF;
}

.register-form__inner {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.register-form__form {
  padding: 64px 96px;
  width: 40vw;
  border-radius: 8px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .register-form__form {
    width: 60vw;
  }
}

.register-form__group {
  margin-bottom: 32px;
}

.register-form__label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.register-form__input {
  display: block;
  padding: 8px 12px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #FFFFFF;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: serif;
}

.register-form__error-message {
  color: #FF9494;
}

.register-form__btn {
  margin: 60px auto 0;
}

.register_link{
    margin: 10px auto;
  text-align: center;
}