.content {
    display: unset;
    flex-direction: unset;
    justify-content: unset;
}

.app {
    display: unset;
    flex-direction: unset;
}

.mypage__account {
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr;
}

.mypage__account-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    grid-column: 2 / 3;
}

.mypage__account-btn {
    margin: 40px 0;
    grid-column: 4 / 5;
    width: auto;
    max-width: max-content;
    height: auto;
    border-radius: 5px;
    color: #FF5555;
    border: 1px solid #FF5555;
    background-color: #fff;
    display: block;
    padding: 8px;
}

.mypage__account-recommendation,
.mypage__account-mypage {
    margin: 0 50px;
    grid-row: 2;
}

.mypage__content {
    float: left;
}

.mypage__form {
    float: left;
    height: 480px;
    width: 450px;
    margin: 10px;
}

.mypage__form__image {
    height: 450px;
    width: 100%;
}

.mypage-form__item-name {
    height: 30px;
    width: 100%;
}

.mypage__form__paginate {
    position: fixed;
    bottom: 10px;
    left: 10px;
}